$TheShawshankRedemption: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.primevideo.com%2F-%2Fzh_TW%2Fdetail%2FThe-Shawshank-Redemption%2F0H3BD1NXV10WDK34UPWWVK4NNS&psig=AOvVaw0MDhQr3uo_fSVvzh-jukTD&ust=1712757405901000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCMig-9ektYUDFQAAAAAdAAAAABAI");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.gray-color {
  color: rgb(150, 150, 150);
}

.score {
  display: flex;
}
.img {
  height: 350px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.search-bar {
  width: 100%;
  max-width: 700px;
  height: 10vh;
  display: flex;
  align-items: center;
  background: rgba($color: black, $alpha: 0.2);
  border-radius: 60px;
}
body {
  background-color: rgba($color: #000000, $alpha: 0.3);
  // background: #141e30;
  header {
    div.container {
      width: 100%;
      min-height: 10vh;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px 0 0 0;
      form {
        input {
          flex: 9;
          background: transparent;
          outline: none;
          border: 0;
          font-size: 1.25rem;
          padding: 30px;
        }
        button {
          flex: 1;
          background: transparent;
          outline: none;
          border: 0;
          width: 60px;
          height: 60px;
          transform: scale(1.5);
          &:hover {
            transform: scale(1.8);
          }
        }
      }
    }
  }
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
    div.movie-card {
      flex: 0 1 350px;
      width: 375px;
      padding: 20px;
      transform: all 1s ease;
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
        // box-shadow: 0 0 40px rebeccapurple;
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8));
        // border: 1px solid rgb(150, 150, 150);
      }
      div.content {
        margin: 0;
        background-color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        min-height: 100px;
        padding: 1rem 0.5rem 0.5rem 0.5rem;
        .name {
          .score {
            h3 {
              font-weight: bold;
              font-size: 1.2rem;
            }
            ul {
              font-size: 1.2rem;
              position: relative;
              left: 0.5rem;
              display: flex;
              list-style-type: none;
            }
          }
        }
        .details {
          padding: 0.8rem 0 0 0;
          display: flex;
          flex-wrap: wrap;
          .date {
            flex: 0 1 75px;
          }
          .running-time {
            flex: 0 1 75px;
          }
          .lang {
            flex: 0 1 75px;
          }
          .rating {
            flex: 0 1 60px;
          }
          .length {
            text-align: center;
          }
        }
      }
    }
  }
}

.Shawshank-img {
  background-image: url("../images/1995.jpg");
  //   background: $TheShawshankRedemption;
  background-size: cover;
}
.Godfather-img {
  background-image: url("../images/godfather.jpg");
  background-size: cover;
}
.Dark-Knight-img {
  background-image: url("../images/the\ dark\ knight.jpg");
  background-size: cover;
}
.Godfather2-img {
  background-image: url("../images/godfather2.jpg");
  background-size: cover;
}
.Angry-Men-img {
  background-image: url("../images/angrymen.jpg");
  background-size: cover;
}
.Schindler-img {
  background-image: url("../images/Schindler's\ List.jpg");
  background-size: cover;
}
.LordRing3-img {
  background-image: url("../images/lord\ ring\ 3.jpg");
  background-size: cover;
}
.Pulp-Fiction-img {
  background-image: url("../images/Pulp-Fiction.jpg");
  background-size: cover;
}
.LordRing1-img {
  background-image: url("../images/lord\ ring\ 1.jpg");
  background-size: cover;
}
